---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		<h2 class="post-title">JeongChul Kim </h2>
		<p>Jeongchul Kim is an AI Platform Researcher at <a href='http://corp.kt.com'>KT</a>.</p>
		<p>"I received the Master degree in the College of Computer Science at Kookmin University in South Korea.
I have consistently worked hard to enhance my skill sets and make research contributions in the field of cloud computing, distributed systems, and big-data platforms. With my countless effort, I am very happy to have accepted paper(IEEE TCC Journal, Springer Cluster Computing Journal, ACM SoCC, IEEE CLOUD, IEEE ICAC). I appreciate for taking the time to evaluate my profile. I am very sure that it will help to further enhance my research vision and guide me to my next career direction. Thank you."</p>
		<hr>
		
		<h3>Education</h3>
		<p>He received the M.S. degree in the College of Computer Science at Kookmin Unveristy. He conducted research about Cloud Computing with his advisor <a href='http://leeky.me/'>Ph. D. Kyungyong Lee</a> in the <a href='http://bigdata.cs.kookmin.ac.kr/'>BigData</a> lab. He received B.S. degree from Kookmin Unversity.</p>
		<ul>
			<li>Master's in Computer Science : March 2018 - February 2020</li>
			<li>Bachelor's in Computer Science : March 2010 - February 2018</li>
		</ul>
		
		<h3>Industry Experiences</h3>
		<ul>
			<li><b>KT, R&D Center, AI Laboratory</b> (2020 ~ ) <u>AI Platform Research Engineer and Developer</u></li>
			<ul>
				<li>Develops <b class=bold>KT AI API G/W server</b> for serving GiGA Genie AI STT, TTS service with Golang (2020.10 ~ )</li>
				<ul>
					<li>Develops STT gRPC service, STT and TTS HTTP API</li>
					<li>Authorization and Management API Key, Metering for API usage</li>
					<li>Processing Audio decoding and encoding using FFmpeg with C++</li>
					<li>Operating for production service WEB, WAS, and DB</li>
					<li>Project Management for sub-contractor developing AI API SDK(AOS, iOS, C#, Python, Node.js, and Java)</li>
				</ul></br>
				<li>Develops <b class=bold>KT AI API CMS (Content Management System) and Admin Web UI</b> with Golang (2020.11 ~ )</li>
				<ul>
					<li>Montioring Agent: Resource, Redis, and MariaDB Profiler - collect resource usage and db stats</li>
					<li>Visualization and develops web page(Dashboard and Statistics) for real-time API and resource usage with Javascript, HTML, and CSS</li>
					<li>Project Management for sub-contractor developing AI API CMS</li>
				</ul></br>
				<li>Develops <b class=bold>WebRTC media server and WebRTC client</b> with Golang and Pion WebRTC(2020.07 ~ 10)</li>
				<ul>
					<li>Audio mixing using Opus codec, decoder, encoder</li>
					<li>Video mixing using H264 Codec, NVIDIA Video Codec SDK</li>
				</ul></br>
				<li>DevOps <b class=bold>rendering solution for video call game web app</b> with Nodejs and <b class=bold>HLS server</b> with Golang (2020.05 ~ 07)</li></br>
				<li>Deploying WebRTC Server Deploying with Docker swarm: Media server, Signal server, Redis Sentinel, Zookeeper (2020.03 ~ 05)</li></br>
				<li>DevOps <b class=bold>Image Analytics DNN Model Serving</b> for KT GiGA Genie Inside and Healthcare Platform : Deploying CNN Model service with k8s cluster(Nvidia-docker with TensorFlow, redis sentinel, WAS) (2020.02 ~ 09)</li>
			</ul>
		</ul>

		<h3>Research</h3>
		<ul>
			<li>Serverless Computing 2018 - 2019</li>
			<ul>
				<li>Implemented FunctionBench : A suite of practical function workloads for public services in AWS, Google Cloud, Azure</li>
				<li>Evaluation network resource performance of functional execution models in FaaS environments (AWS Lambda)</li>
			</ul>
			
			<li>ABC2: Autonomic BigData Cloud Computing research project, 2016 - 2018</li>
			<ul>
				<li>Build autonomic cloud computing service that handles complex infrastructure configurations</li>
				<li>Implemented system that predicts latency of matrix multiplication of arbitrary shapes and sizes using various cloud computing resource configurations</li>
			</ul>
			
			
			<li>KEPCO(Korea Electric Power Corporation) Research Assistant, 2015 - 2016</li>
			<ul>
				<li>SangGi Lee, SeiYoon Lee , <u class="bold">Jeongchul Kim</u>. A Study on Security Vulnerability Management in Electric Power Industry IoT, Korea Digital Contents Society, 2016, 499-507(8 pages).  <a href="{{ "/assets/paper/A Study on Security Vulnerability Management in Electric Power Industry IoT.pdf" | relative_url }}"
				>pdf</a></li>
				<li>A Basic Study on the Lightweight Cryptography in Technology in Electric Power Industry on IoT. <u class="bold">Jeongchul Kim</u>, SeiYoon Lee, SangGi Lee, Proceedings of KIIT Conference, 2017, 5-6(2 pages). <a href='http://www.dbpia.co.kr/journal/articleDetail?nodeId=NODE07182628&language=ko_KR'>link</a></li>
			</ul>
		</ul>
		
		<h3>Publications</h3>
		<ul>
			<li><u class="bold">Jeongchul Kim</u>, and Kyungyong Lee, 'I/O Resource Isolation of Public Cloud Serverless Function Runtimes for Data-Intensive Applications', <b>International Journal of Cluster Computing, Springer</b>, Accepted, 2020 <a href='https://link.springer.com/epdf/10.1007/s10586-020-03103-4?author_access_token=MEzk9N4Qskyf-9ICGZYhC_e4RwlQNchNByi7wbcMAY6F4M6vAx_h1iKS24Rf-9JssvcPLoRZr33PDx8Ii68zWCdd0CJP0t_SSbT62XxA7OQVQTurczRriseuuBXCNLjWlIfFrXLo0a3q2sbrASF9-g%3D%3D'>pdf</a></li><br>
			<li><u class="bold">Jeongchul Kim</u>, Myungjun Son, and Kyungyong Lee, ‘MPEC: Distributed Matrix Multiplication Performance Modeling on a Scale-out Cloud Environment for Data Mining Jobs', <b>IEEE Transcations on Cloud Computing (journal paper)</b>, Accepted, 2019 <a href='https://ieeexplore.ieee.org/document/8887190'>IEEE Document Paper Info</a> <a href='http://leeky.me/publications/mpec-tcc.pdf'>pdf</a></li><br>
			<li><u class="bold">Jeongchul Kim</u>, and Kyungyong Lee, ‘Practical Cloud Workloads for Serverless FaaS’, ACM Symposium on Cloud Computing 2019 (Poster paper), 10/2019 <a href='http://leeky.me/publications/functionbench-socc.pdf'>pdf</a> </li><br>
			<li><u class="bold">Jeongchul Kim</u>, and Kyungyong Lee, ‘FunctionBench : A Suite of Workloads for Serverless Cloud Function Service’, IEEE International Conference on Cloud Computing 2019 (WIP paper), 07/2019 <a href='https://ieeexplore.ieee.org/document/8814583'>IEEE Document Paper Info</a> <a href="{{ "/assets/paper/FunctionBench - A Suite of Workloads for Serverless Cloud Function Service.pdf" | relative_url }}">pdf</a> <a href='https://github.com/kmu-bigdata/serverless-faas-workbench'>github</a></li><br>
			<li><u class="bold">Jeongchul Kim</u>, Jungae Park, and Kyungyong Lee, ‘Network Resource Isolation in Serverless Cloud Function Service’, AMGCC 2019 in IEEE 4th International Workshops on Foundations and Applications of Self* Systems (FAS*W)2019, 06/2019 <a href='https://ieeexplore.ieee.org/document/8791958'>IEEE Document Paper Info</a> <a href="{{ "/assets/paper/Network Resource Isolation in Serverless Cloud Function Service.pdf" | relative_url }}">pdf</a> <a href='https://github.com/kmu-bigdata/faas-network'>github</a></li>
		</ul>
		
		<h3>Talks</h3>
		<ul>
			<li>‘Network Resource Isolation in Serverless Cloud Function Service’, AMGCC 2019 in conjunction with IEEE International Conference on Autonomic Computing 2019, June 2019, <a href='https://docs.google.com/presentation/d/1aT3D-kPn_BTjWxyjtWEvqm3uaLcEzSX4cDpSuykKATk/edit?usp=sharing'>ppt</a></li>
			<li> UCI Global Research Project 'Stanford Parser Analyze Sentences and Tree Similarity', UCI, LA, February 2018 
<a href='https://docs.google.com/presentation/d/1thaVUe1AJXHzA_Sr1ZsDIALL8PkUm57DuSTufkJS1nM/edit?usp=sharing'>ppt</a></li>
		</ul>
		
		<h3>Other relevant experience</h3>
		<ul>
			<li>Summer Accelerator School, Seoul National University, South, Korea, August 2018</li>
			<ul>
				<li>Learned the basics of accelerators, OpenCL, CUDA programming, and
optimization techniques for accelerators</li>
			</ul>
			
			<li><b>UROP in UC Irvine, LA, USA, December 2017 ~ February 2018</b></li>
			<ul>
				<li>UROP(Undergraduate Research Opportunities Program) at the University of California, Irvine.</li>
				<li>Team Project - Stanford Parser Analyze Sentences and Tree Similarity <a href='https://docs.google.com/presentation/d/1thaVUe1AJXHzA_Sr1ZsDIALL8PkUm57DuSTufkJS1nM/edit?usp=sharing'>ppt</a></li>
				<li>Term Project - Deep Learning Workload in Serverless Computing <a href='https://docs.google.com/presentation/d/1bg9-4COa8sfa7E60knR37NNdtw6x2EEOrlnStvOwW1s/edit?usp=sharing'>ppt</a> <a href='https://github.com/KimJeongChul/serverless_dnn_workload/tree/master/model_prediction'>github</a></li>
			</ul>
			<li>Korea ICT Volunteer World Friends, Ocnita, Moldova, June 2014 - September 2014</li>
			<ul>
				<li>World Friends Korea is the new name of the Korean government's overseas volunteer group that aims at helping people around the world.</li>
			</ul>
		</ul>
		
		<h3>Teaching experience</h3>
		<ul>
			<li>Kookmin University, Seoul, South Korea</li>
			<ul>
				<li>Computer programming teaching assistant, March 2016-December 2019</li>
				<li>Assisted professor with teaching incoming freshmen Python, JavaScript,
and MS Excel</li>
			</ul>
			
			<li><b>Samsung Architect Training Course, Gyeonngi-do, South Korea</b></li>
			<ul>
				<li>(Cloud) Assistant, April 2018, July 2019</li>
				<li>Assisted professor with helping Samsung developers learn Docker Container, Amazon Web Services(VPC, AutoScaling, CloudFront, CloudFormation, SQS), Hadoop, Hive, and MonogDB</li>
			</ul>
			
			<li><b>Samsung Cloud Server Advanced Course, Gyeonngi-do, South Korea</b></li>
			<ul>
				<li>(Cloud) Assistant, February 2018, May 2018, October 2018</li>
				<li>Assisted professor with helping Samsung developers learn Container, Amazon Web Services(Lambda, S3, DynamoDb, SNS, API GateWay), Hadoop, Hive, and MonogDB</li>
			</ul>
		</ul>
		
		<h3>Awards and Honors</h3>
		<ul>
			<li><b>ACM Symposium on Cloud Computing Scholarships, October 2019</b></li>
			<ul>
				<li><a href='https://drive.google.com/open?id=1_iG3cCw7gH7t1-sl5X7SSvruSxMyM9DB'>application</a></li>
			</ul>
			<li><b>IoT Innovation Challenge 3rd Prize, Samsung, June 2017</b></li>
			<ul>
				<li>Smart Hubot</li>
				<li>KES 2017(Korea Electronics Show)</li>
				<li><a href='https://www.youtube.com/watch?v=796UUuLAs0s'>youtube</a></li><br>
				<!-- Slideshow container -->
				<div class="slideshow-container">
					<!-- Full-width images with number and caption text -->
					<div class="smart-hubot fade first" >
						<div class="numbertext">1 / 5</div>
						<img src="{{ "/assets/project/smart-hubot-presentation.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-hubot fade" >
						<div class="numbertext">2 / 5</div>
						<img src="{{ "/assets/project/smart-hubot-coex.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-hubot fade">
						<div class="numbertext">3 / 5</div>
						<img src="{{ "/assets/project/smart-hubot-emotion-generator.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-hubot fade">
						<div class="numbertext">4 / 5</div>
						<img src="{{ "/assets/project/smart-hubot-hardware.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-hubot fade">
						<div class="numbertext">5 / 5</div>
						<img src="{{ "/assets/project/smart-hubot-coex-presentation.png" | relative_url }}" style="width:100%">
					</div>
					<!-- Next and previous buttons -->
					<a class="prev" onclick="plusSmartHubotSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSmartHubotSlides(1)">&#10095;</a>
				</div>
				<!-- The dots/circles -->
				<div style="text-align:center">
					<span class="dot smart-hubot-dot" onclick="currentSmartHubotSlide(1)"></span> 
					<span class="dot smart-hubot-dot" onclick="currentSmartHubotSlide(2)"></span> 
					<span class="dot smart-hubot-dot" onclick="currentSmartHubotSlide(3)"></span>
					<span class="dot smart-hubot-dot" onclick="currentSmartHubotSlide(4)"></span> 
					<span class="dot smart-hubot-dot" onclick="currentSmartHubotSlide(5)"></span> 
				</div>
			</ul>
			
			<li><b>IoT Innovation Challenge 1st Prize, Samsung, June 2016</b></li>
			<ul>
				<li>Smart Mirror</li>
				<li>KES 2016(Korea Electronics Show) </li>
				<li><a href='https://www.youtube.com/watch?v=-Nby1nvXv4U'>Youtube</a> <a href='https://github.com/KimJeongChul/artik-smart-mirror'>Github</a></li>
				<!-- Slideshow container -->
				<div class="slideshow-container">
					<!-- Full-width images with number and caption text -->
					<div class="smart-mirror fade first" >
						<div class="numbertext">1 / 3</div>
						<img src="{{ "/assets/project/smart-mirror-coex.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-mirror fade" >
						<div class="numbertext">2 / 3</div>
						<img src="{{ "/assets/project/smart-mirror-architecture.png" | relative_url }}" style="width:100%">
					</div>
					<div class="smart-mirror fade">
						<div class="numbertext">3 / 3</div>
						<img src="{{ "/assets/project/smart-mirror-architecture-2.png" | relative_url }}" style="width:100%">
					</div>
					<!-- Next and previous buttons -->
					<a class="prev" onclick="plusSmartMirrorSlides(-1)">&#10094;</a>
					<a class="next" onclick="plusSmartMirrorSlides(1)">&#10095;</a>
				</div>
				<!-- The dots/circles -->
				<div style="text-align:center">
					<span class="dot smart-mirror-dot" onclick="currentSmartMirrorSlide(1)"></span> 
					<span class="dot smart-mirror-dot" onclick="currentSmartMirrorSlide(2)"></span> 
					<span class="dot smart-mirror-dot" onclick="currentSmartMirrorSlide(3)"></span>
				</div>
			</ul>
			
			<li>Smart Connected 1st Prize, Intel and KEA, June 2016 </li>
			<ul>
				<li>Speech Recognition Smart Mirror and Android Application</li>
				<li>Raspberry PI, Web application(HTML, CSS, Javascript, JQuery), Google Cloud Speech API</li>
				<li><a href='https://www.youtube.com/watch?v=1jEWvWtXniQ'>Youtube</a> <a href='https://github.com/KimJeongChul/smartmirror-web-application'>Github</a></li>
			</ul>
		</ul>
		
		<h3>Attend Conference</h3>
		<ul>
			<li>ACM SoCC 2019, Santa Cruz, USA, Nov 2019</li>
			<li>IEEE ICAC 2019, Umea, Sweden, June 2019</li>
			<li>IEEE BIGDATA 2018, Seattle, WA, USA Dec 2018</li>
			<li>ACM International Conference on WSDM(Web Search and Data Mining) 2017, LA, USA, Jan 2018</li>
		</ul>
		
		<h3>Certification</h3>
		<ul>
			<li>NVIDIA, Fundamentals of Accelerated Computing with CUDA Python, 2020/02, certificate number: <a href='https://courses.nvidia.com/certificates/96352db608654083b2c808339f68f7e0'>96352db608654083b2c808339f68f7e0</a></li>
		</ul>

		<h3>Technical skills</h3>
		<ul>
			<li>Programming Languages: Python, Scala, OpenCL, Java, JavaScript, CSS</li>
			<li>Platforms: Linux, AWS, Azure, Google Cloud, Docker, Spark, Hadoop, Kubernetes</li>
		</ul>
	</li>
	{%- endfor -%}
</ul>
{%- endif -%}

