---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		<h2 class="post-title">JeongChul Kim 김정출</h2>
		<p>Jeongchul Kim is an Master Degree Studens in the College of Computer Science at <a href='http://www.kookmin.ac.kr/home.php'>Kookmin University</a>. His current research topic covers big data platforms, large-scale distributed computing resource manangement and cloud computing.</p> 
		
		<hr>
		
		<h3>Education</h3>
		<p>He received the M.S. degree in the College of Computer Science at Kookmin Unveristy. He conducted research about Cloud Computing with his advisor <a href='http://leeky.me/'>Ph. D. Kyungyong Lee</a> in the <a href='http://bigdata.cs.kookmin.ac.kr/'>BigData</a> lab. He received B.S. degree from Kookmin Unversity.</p>
		<ul>
			<li>Master's in Computer Science : March 2018 - February 2020</li>
			<li>Bachelor's in Computer Science : March 2010 - February 2018</li>
		</ul>
		
		<h3>Research</h3>
		<ul>
			<li>ABC2: Autonomic BigData Cloud Computing research project</li>
			<ul>
				<li>Build autonomic cloud computing service that handles complex infrastructure configurations</li>
				<li>Implemented system that predicts latency of matrix multiplication of arbitrary shapes and sizes using various cloud computing resource configurations</li>
			</ul>
			<li>Serverless Computing</li>
			<ul>
				<li>FunctionBench</li>
			</ul>
		</ul>
		
		<h3>Publications</h3>
		<ul>
			<li><u>Jeongchul Kim</u>, and Kyungyong Lee, ‘FunctionBench : A Suite of Workloads for Serverless Cloud Function Service’, IEEE International Conference on Cloud Computing 2019 (WIP paper), 07/2019 <a href='http://leeky.me/publications/function_workload.pdf'>pdf</a> <a href='https://github.com/kmu-bigdata/serverless-faas-workbench'>github</a></li><br>
			<li><u>Jeongchul Kim</u>, Jungae Park, and Kyungyong Lee, ‘Network Resource Isolation in Serverless Cloud Function Service’, AMGCC 2019 in conjunction with IEEE International Conference on Autonomic Computing 2019, 06/2019 <a href='http://leeky.me/publications/serverless_function_analyze.pdf'>pdf</a> <a href='https://github.com/kmu-bigdata/faas-network'>github</a></li>
		</ul>
		
		<h3>Talks</h3>
		<ul>
			<li>‘Network Resource Isolation in Serverless Cloud Function Service’, AMGCC 2019 in conjunction with IEEE International Conference on Autonomic Computing 2019, June 2019, <a href='https://docs.google.com/presentation/d/1aT3D-kPn_BTjWxyjtWEvqm3uaLcEzSX4cDpSuykKATk/edit?usp=sharing'>ppt</a></li>
		</ul>
		
		<h3>Other relevant experience</h3>
		<ul>
			<li>Summer Accelerator School, Seoul National University, South, Korea, August 2017</li>
			<ul>
				<li>Learned the basics of accelerators, OpenCL, CUDA programming, and
optimization techniques for accelerators</li>
			</ul>
			
			<li>UROP in UC Irvine, LA, USA, December 2017 ~ Febrarury 2018</li>
			<ul>
				<li>UROP(Undergraduate Research Opportunities Program) at the University of California, Irvine. 
- Stanford Parser Analyze Sentences and Tree Similarity <a href='https://docs.google.com/presentation/d/1thaVUe1AJXHzA_Sr1ZsDIALL8PkUm57DuSTufkJS1nM/edit?usp=sharing'>ppt</a></li>
			</ul>
		</ul>
		
		<h3>Teaching experience</h3>
		<ul>
			<li>Kookmin University, Seoul, South Korea</li>
			<ul>
				<li>Computer programming teaching assistant, March 2016-December 2019</li>
				<li>Assisted professor with teaching incoming freshmen Python, JavaScript,
and MS Excel</li>
			</ul>
			
			<li>Samsung Architect Training Course, Gyeonngi-do, South Korea</li>
			<ul>
				<li>(Cloud) Assistant, April 2018, July 2019</li>
				<li>Assisted professor with helping Samsung developers learn Docker Container, Amazon Web Services(VPC, AutoScaling, CloudFront, CloudFormation, SQS), Hadoop, Hive, and MonogDB</li>
			</ul>
			
			<li>Samsung Cloud Server Advanced Course, Gyeonngi-do, South Korea</li>
			<ul>
				<li>(Cloud) Assistant, February 2018, May 2018, October 2018</li>
				<li>Assisted professor with helping Samsung developers learn Container, Amazon Web Services(Lambda, S3, DynamoDb, SNS, API GateWay), Hadoop, Hive, and MonogDB</li>
			</ul>
		</ul>
		
		<h3>Technical skills</h3>
		<ul>
			<li>Programming Languages: Python, Scala, OpenCL, Java, JavaScript, CSS</li>
			<li>Platforms: Linux, AWS, Azure, Google Cloud, Docker, Spark, Hadoop, Kubernetes</li>
		</ul>
	</li>
	{%- endfor -%}
</ul>

 <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
	{%- endif -%}

